<div class="jumbotron mb-1">
    <div class="container">
        <div class="row">

            <div class="d-none d-sm-block col-sm-4">
                <img alt="cube-picture" src="/img/cube.png" style="height:10em">
            </div>
            <div class="col-sm-8 align-self-center">
                <h1>Cube Cycle</h1>
            </div>

        </div>
    </div>
</div>