      
<div class="row flex-row-reverse mt-4">

    <div class="col-sm-8">
        <h3 id="scramble"> </h3>
        <p class="text-center" id="message"></p>
        <p id="time" class="h4 text-center" style="margin-top: 1em">0.00</p>
        <br>
        <div class="text-center">
            <div class="btn-group-toggle d-inline" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input id="plus2" type="checkbox" autocomplete="off">+2
                </label>
            </div>
            <div class="btn-group-toggle d-inline" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input id="dnf" type="checkbox" autocomplete="off">DNF
                </label>
            </div>
            <button id="sendResult" type="button" class="btn btn-primary" disabled>SEND TIME</button>
        </div>
    </div>

    <div class="col-sm-4">
        <h3>Room</h3>
        <hr>
        <table>
            <tr>
                <td class="pr-3"><b>NAME:</b></td>
                <td><%= room.name %></td>
            </tr>
            <tr>
                <td class="pr-3"><b>TYPE:</b></td>
                <td><%= room.type %></td>
            </tr>
            <tr>
                <td class="pr-3"><b>TIMEOUT:</b></td>
                <td><%= room.timeout %>s</td>
            </tr>
        </table>
    </div>
        
</div>


<h3 style="margin-top:1em">USERS TIMES</h3>
<div class="row">
    
    <table class="table table-bordered table-responsive" style="max-height:50vh">
        <thead id="res-h">
            <tr></tr>
        </thead>
        <tbody id="res-b"></tbody>
    </table>
        
</div>

<script src="/js/timer.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/res-manager.js"></script>
<script src="/js/sockets/room.js"></script>