      
<div class="row flex-row-reverse mt-4">

    <div class="col-sm-8">
        <h3 id="scramble"> </h3>
        <p class="text-center" id="message"></p>
        <p id="time" class="h4 text-center" style="margin-top: 1em">0.00</p>
        <br>
        <p class="text-center">
            <button id="plus2" type="button" class="btn btn-secondary" disabled>+2</button>
            <button id="dnf" type="button" class="btn btn-danger" disabled>DNF</button>
            <button id="sendResult" type="button" class="btn btn-primary" disabled>SEND TIME</button>
        </p>
    </div>

    <div class="col-sm-4">
        <h3>Room</h3>
        <hr>
        <table>
            <tr>
                <td class="pr-3"><b>NAME:</b></td>
                <td><%= room.name %></td>
            </tr>
            <tr>
                <td class="pr-3"><b>TYPE:</b></td>
                <td><%= room.type %></td>
            </tr>
            <tr>
                <td class="pr-3"><b>TIMEOUT:</b></td>
                <td><%= room.timeout %>s</td>
            </tr>
        </table>
    </div>
        
</div>


<h3 style="margin-top:1em">USERS TIMES</h3>
<div class="row">
    
    <table class="table table-bordered table-responsive" style="max-height:50vh">
        <thead id="res-h">
            <!-- <tr>
                <th>On.</th>
                <th>Johnfsdfsf </th>
            </tr> -->
        </thead>
        <tbody id="res-b">
            <!-- <tr>
                <td>1</td> 
                <td>10.12</td>
            </tr> -->
        </tbody>
    </table>
        
</div>

<script src="/js/timer.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/room.js"></script>